[Desktop Entry]
Type=Application
Name=PyChat
X-GNOME-FullName=Local Chat via Python
Icon=cheese
Exec=gnome-terminal -e 'Your Path'/chat[Server/Client].py --hide-menubar --title=PyChat
Terminal=false
StartupNotify=true
